@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&display=swap");
*:focus {
  outline: transparent;
}
::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  background-color: #191919;
}
body {
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  color: #6d6d6d;
  padding: 0.5rem 1rem;
  box-shadow: #333333 0px 0px 10px;
}
.right-nav {
  color: #f2f2f2;
  width: 75%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.right-nav ul {
  list-style-type: none;
}
.right-nav ul li {
  display: inline;
  margin-left: 1rem;
  transition: 0.3s ease;
}
.right-nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1rem;
}
.right-nav li:hover {
  /* border-bottom: 3px solid whitesmoke; */
  font-weight: bold;
}
.left-nav {
  padding-left: 0.5rem;
  color: #f2f2f2;
  font-size: 25px;
  width: 25%;
}
.about {
  align-items: center;
  display: flex;
  margin-top: 6rem;
  margin-left: 2rem;
  width: 97%;
}
.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.info-btn {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  justify-content: center;
}
.info-btn a {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 0.35rem 1rem;
  margin: 0.5rem 0.5rem;
}
.btn-primary {
  background-color: #191919 !important ;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: #f3f4f6;
  box-shadow: #333333 0px 0px 5px 0px;
  text-decoration: none;
}
.btn-secondary {
  color: #f3f4f6;
  background-color: transparent !important ;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border: 1px solid #f3f4f6 !important;
  text-decoration: none;
}
.info p {
  margin: 0;
  color: #f3f4f6;
  font-size: 3rem;
}

.about img {
  height: 30rem;
  width: 35rem;
  margin-right: 5rem;
}
.About-me {
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 97%;
  padding-left: 1rem;
  text-align: center;
  align-items: center;
  margin: 2rem 0rem 0rem 0rem;
}
#about p {
  margin-top: 3rem;
}

.About-me p {
  margin-top: 1rem;
}
.resume {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.btn-resume {
  background-color: #34dbc8;
  color: #f3f4f6;
  box-shadow: #333333 0px 0px 5px 0px;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
.btn-resume b {
  background-color: #34dbc8;
  color: black;
}
.p-head {
  height: 2.5rem;
  width: 11rem;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
.p-head p {
  border-bottom: 2px solid rgb(195, 188, 188);
  font-size: 1.75rem;
  font-weight: 500;
  color: #f2f2f2;
  width: auto;
  margin: 0;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 4rem;
}
.card {
  box-shadow: #333333 0px 0px 5px 0px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 5rem;
}
.content {
  padding: 0.5rem;
}
.list-non-bullet {
  margin-top: 0.5rem;
  list-style: none;
  background-color: transparent;
}
.list-item-inline {
  display: inline-block;
}

.img-wraper {
  height: 17rem !important;
  align-self: flex-start;
  justify-self: flex-start;
  overflow: hidden;
}
.img-wraper img {
  width: 100%;
  transition: 1s ease;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.img-wraper:hover img {
  transform: scale(1.1);
}
.footer {
  /* padding: 0.5rem; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 10rem;
  width: 100%;
  text-align: center;
  background-color: #292929;
  color: whitesmoke;
}
.footer-head {
  font-size: large;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.footer a {
  text-decoration: none;
  background-color: transparent !important;
}
.footer ul {
  margin: 0;
}
.footer li {
  padding: 0.5rem;
  background-color: transparent !important;
}
.footer img {
  margin: 6px;
  background-color: transparent !important;
}

.description {
  line-height: 2em;
  letter-spacing: 0.1em;
}
