@media only screen and (max-width:768px) {
  .about img{
    display: none;
  }
}
@media only screen and (min-width:768px) {
  .card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
   .card{
     width: 23% !important;
     height: 28rem !important;
     
   } 
  .about{
    width: 97%;
  }
}